footer {
  padding: 2rem;
  background-color: rgb(10 17 37);;;
  font-size: var(--body-font-size-s);
  color: white;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}